---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE } from '../../consts';
import { url } from '../../utils/paths';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	const tags = [...new Set(posts.flatMap((post) => post.data.tags || []))];
	return tags.map((tag) => ({
		params: { tag },
		props: { posts: posts.filter((post) => post.data.tags?.includes(tag)) },
	}));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`Posts tagged with "${tag}" | ${SITE_TITLE}`} description={`Browse posts tagged with ${tag}`} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Posts tagged with "{tag}"</h1>
			<ul>
				{posts.map((post) => (
					<li>
						<a href={url(`/blog/${post.id}/`)}>{post.data.title}</a>
					</li>
				))}
			</ul>
		</main>
		<Footer />
	</body>
</html>
